html{
    scroll-behavior: smooth;
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
/*Add the selector and rule to move the skip link to the exact top.*/
  position: static;
  width: auto;
  height: auto;
}

.container{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-row-gap: 15px;
  font-family: 'Roboto', sans-serif;
  /* font-size: 100%; */


}

header{
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  align-self: center;
  justify-self:center;
}

.header_mobile img{
  /* min-width: 100%; */
  max-width: 100%;
}

header .header_desktop{
  display: none;
}

header .nav_desktop{
  display:none;
}

.nav{
  grid-column: 1/span 3;
  grid-row: 2/span 1;
}

.nav a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.nav a:hover {
  background-color: #ccc;
}

.nav a.active {
  background-color: #7691C4;
  color: white;
}

.nav_desktop a{
  color: black;
  text-decoration: none;
}

.nav_desktop a:hover{
  color: grey;
}

.nav_desktop a.active {
  text-decoration: underline;
}

#about main .page_name{
  grid-column: 1/span 3;
  grid-row: 4/span 1;
}

.page_name{
  grid-column: 1/span 3;
  grid-row: 3/span 1;
  padding: 30px;
  font-size: 25px;
  background-color: #f9f9f9;
  font-weight: bold;

}

#about main{
  display: grid;
  grid-column: 1/span 3;
  grid-row: 3/9;
  grid-row-gap: 15px;
}

#about main .home-image{
  grid-column: 1/span 3;
  grid-row: 3/span 1;
  align-self: center;
  justify-self: center;

}

#about main .home-image img{
  max-width: 100%;
  min-width:100%;
}


#about main .text-block{
  background-color: #dbe2f0;
  /* border: 155px solid white; */
  padding: 30px;
  grid-row-gap: 15px;

}

#about main .what-it-is{
  grid-column: 1/span 3;
  grid-row: 5/span  1;
}

#about main .who-we-are{
  grid-column: 1/span 3;
  grid-row: 6/span 1;
}

#about main .what-we-do{
  grid-column: 1/span 3;
  grid-row: 7/span 1;
}

#about main .get-involved{
  grid-column: 1/span 3;
  grid-row: 8/span 1;
  padding: 30px;
}

#about main .get-involved ul{
  list-style: none;
}

#resources main{
  display: grid;
  grid-row-gap: inherit;
  grid-column: 1/span 3;
  grid-row: 3/7;
}

#resources main .flip-card{
  display: none;
}

#resources .resource_image{
  grid-column: 1/span 3;
  grid-row: 4/span 1;
  align-self: center;
  justify-self: center;
  max-width: 100%;
  overflow: hidden;
}

#resources main .blogs{
  grid-column: 1/span 3;
  grid-row: 5/span 1;
  padding-left: 10px;
  align-self: center;
  justify-self: center;
}

#resources main .articles{
  grid-column: 1/span 3;
  grid-row: 6/span 1;
  padding-left: 10px;
  align-self: center;
  justify-self: center;
}

#gallery main{
  display: grid;
  grid-row-gap: inherit;
  grid-column: 1/span 3;
  grid-row: 5/span 1;
}

#gallery .images_desktop{
  display: none;
}

#gallery .images_mobile{
  grid-column: 1/span 3;
  grid-row: 5/span 1;
}

#gallery .images_mobile ul{
  list-style: none;
}

#gallery .images_mobile img{
  max-width: 100%;
  min-width:100%;
}

#contact main{
  display:grid;
  grid-row-gap: inherit;
  grid-column: 1/span 3;
  grid-row: 5/8;
}

#contact .contact_image{
  grid-column: 1/span 3;
  grid-row: 5/span 1;
}

#contact .contact_image img{
  max-width: 100%;
  min-width: 100%
}

#contact .contact-form{
  grid-column: 2/span 1;
  grid-row: 7/span 1;
}

#contact .contact-info{
  grid-column: 2/span 1;
  grid-row: 6/span 1;
}

.facebook img{
  aria-label:'facebook';
}

.foot{
  grid-column: 1/span 3;
  grid-row: 9/span 1;
  background-color: #7691C4;


}

.social-icons{
  display: flex;
  justify-content: center;
  grid-column: 2/span 1;
  grid-row: 9/span 1;
}


@media screen and (min-width: 800px){


.header_desktop{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* header .header_mobile{
  display: none;

} */

.header_mobile{
  display:none;
}
/* .header_mobile img{
    max-width: 100%;
} */

header .nav_desktop{
  display: block;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
  width: 200px; }

nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav > ul > li {
    margin: 0 1rem;
}

.nav{
  display: none;
}

.page_name{
  background-color: #f9f9f9;
  font-size: 45px;
  color: #2c2c2c;
   letter-spacing: .05em;
   text-shadow:
     4px 4px 0px #d5d5d5,
     7px 7px 0px rgba(0, 0, 0, 0.2);
  }



#resources .resource_image{
  display: none;
}


#resources main .flip-card{
  display: grid;
  grid-column: 2/span 1;
  grid-row: 4/span 1;
  align-self: center;
  justify-self: center;
  /* max-width: 100%; */
  background-color: transparent;
  width: 485px;
  height: 650px;
  perspective: 1000px;
}


#resources main .flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

 .flip-card-front {
  background-color: #bbb;
  color: black;
}

 .flip-card-back {
  background-color: #7691C4;
  color: white;
  transform: rotateY(180deg);
  font-size: 50px;
  justify-self: center;
  align-self: center;

}

#resources main .blogs{
  grid-column: 1/span 1;
  grid-row: 4/span 1;
  padding-left: 60px;
  align-self: center;
  justify-self: center;
}

#resources main .articles{
  grid-column: 3/span 1;
  grid-row: 4/span 1;
  padding-left: 60px;
  align-self: center;
  justify-self: center;

}

#gallery .images_mobile{
  display: none;
}

#gallery .images_desktop{
  display: grid;
  grid-column: 1/span 3;
  grid-row: 5/span 1;
}

 #gallery .row{
   display: flex;
 }

 #gallery .images_desktop .column {
  flex: 33.33%;
  padding: 50px;
}

#gallery .images_desktop img{
  max-width: 23vw;
  max-height: auto;

}

#gallery .images_desktop img{
     filter:brightness(60%);
}

#gallery .images_desktop img:hover{
     filter:brightness(100%);
     transform: scale(1.5, 1.5);
}


#contact .contact_image img{
  display:none;
}

#contact .contact_image{
  background-image: url("../images/contact_image.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  #about main .who-we-are{
    text-align: right;
  }
  #resources main .blogs{
    grid-column: 1/span 1;
    grid-row: 5/span 1;
    padding-left: 200px;
    align-self: left;
    justify-self: left;
  }

  #resources main .articles{
    grid-column: 3/span 1;
    grid-row: 5/span 1;
    padding-right: 200px;
    align-self: right;
    justify-self: right;
}

@media screen and (prefers-reduced-motion: reduce){
  .flip-card:hover .flip-card-inner{
    transition: none !important;
  }
  #resources main .flip-card-inner{
    transition: none !important;
  }
  #gallery .images_desktop img:hover{
    transform: none !important;
  }
  #contact .contact_image{
    background-attachment: scroll;
  }
  .skip a{
    -webkit-transition: none !important;/* Your code here - set to default setting */
    transition: none !important;
  }
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
}
